In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from sklearn.ensemble import RandomForestRegressor

In [5]:
l = RandomForestRegressor(n_estimators=10,criterion='mse')

In [6]:
data = pd.read_csv('C:\\Users\\shivam\\Desktop\\sat_score.csv')
data.head()

    SAT  GPA
0  1600  4.0
1  1593  4.0
2  1587  4.0
3  1580  4.0
4  1573  4.0

In [7]:
x = data.SAT.values.reshape(-1,1)
y = data.GPA.values.reshape(-1,1)

In [8]:
y.shape

(181, 1)

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [10]:
l = l.fit(X_train, y_train)
pred = l.predict(X_test)
from sklearn.metrics import mean_absolute_error

print('mse%g'%mean_absolute_error(pred, y_test))

<ipython-input-10-5909d1d51327>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  l = l.fit(X_train, y_train)

mse0.0133135

In [11]:
import pickle 
path = 'C:\\Users\\shivam\\Desktop\\sat.pkl'

with open(path, 'wb') as file:
    pickle.dump(l, file)

In [18]:
with open('C:\\Users\\shivam\\Desktop\\sat.pkl', 'rb') as file:
    model = pickle.load(file)

In [29]:
model.predict([[1000]])

array([3.3616])